.nav-list {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    

  }
  
 .nav-img {
    width: 60%;
 } 

  .nav-ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;

  }

  .nav-ul a {
text-decoration-line: none;
font-size: 60%;

  }